* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #e5faf4
  }
  header {
    padding: 20px 35px;
    background-color: #222B2C;
  }
  header h1 {
    padding : 5px;
    background-color: #72CFD8;
    font-weight: bold;
    font-size: 36px;
    color: #222B2C;
    margin: 0;
    display: inline;
  }
  header nav {
    float: right;
    margin: 7px 0;
  }
  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    margin: 0 10px;
    font-weight: lighter;
    font-size: 22px;
    border-bottom: 3px solid;
    text-decoration: none;
    color: #72CFD8;
  }
  .hero {
    background-image: url("../assets/pattern.jpg");
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .hero-sub{
    padding: 4px;
    background-color: #72CFD8;
    font-size: 28px;
    color: #222B2C;
    position: absolute;
    top: 140px;
    right: 40px;
  }
  .title{
    padding: 30px 0px 30px 0px;
 }
 .section-title1 {
    margin-left: 20px;
    font-size: 55px;
    color: #024e76;
    padding: 0 20px 90px 10px;
    border-right: 4px solid;
    text-align: right;
    width: 20%;
    height: 100%;
    float: left;
  }
  .title p {
    padding: 0px 0px 10px 40px;
    line-height: 1.7;
    color: #3e757e;
    width: 70%;
    font-size: 17px;
    display: inline-block;
  }
  .section-title2 {
    margin-left: 20px;
    font-size: 55px;
    color: #024e76;
    padding: 0 20px 2400px 10px;
    border-right: 4px solid;
    text-align: right;
    width: 20%;
    height: 100%;
    float: left;
  }
  .work-content1{
    height: 400px;
    display: inline-block;
    margin: 10px 0 10px 40px;
  }
  .work-content1 img{
    object-fit: cover;
    height: 100%;
    width: 1200px;
    border: 5px solid;
    color: #4c98c2;
  }
  .content-title1{
    padding: 10px;
    background-color: #4c98c2;
    color: #222B2C;
    position: absolute;
    top: 870px;
    left: 442px;
  }
 
