* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ffe6f2
  }
  header {
    padding: 20px 35px;
    background-color: #222B2C;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    top: 0;
  }
  header h1 {
    padding : 5px;
    background-color: #72CFD8;
    font-weight: bold;
    font-size: 36px;
    color: #222B2C;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header nav {
    margin: 7px 0;
  }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header nav ul li a {
    margin: 0 10px;
    font-weight: lighter;
    font-size: 22px;
    border-bottom: 3px solid;
    text-decoration: none;
    color: #72CFD8;
  }
  header nav ul li a:hover {
    box-shadow: 0 0 8px rgba(63, 155, 197, 0.6);
  }
  .hero {
    background-image: url("../assets/pattern.jpg");
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .hero-sub{
    padding: 4px 6px 4px 6px;
    background-color: #72CFD8;
    font-size: 28px;
    color: #222B2C;
    position: absolute;
    top: 140px;
    right: 40px;
  }
  .about{
  margin: 30px auto;
  padding-bottom: 10px;
  width: 92%;
  display: flex;
  justify-content: space-between;
}
 .about h2{
    font-size: 55px;
    color: #024e76;
    padding: 0 20px 140px 0px;
    border-right: 4px solid;
    height: 100%;
    text-align: right;
    float: left;
  }
  .about-info {
    padding: 0px 70px 10px 40px;
    line-height: 1.7;
    color: #3e757e;
    width: 100%;
    font-size: 17px;
    flex: 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
.work{
    display: flex;
    width: 92%;
}
  .parent{
    margin: 30px auto;
    padding-bottom: 10px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .work h2 {
    margin-left: 100px;
    font-size: 55px;
    color: #024e76;
    padding: 0 20px 850px 0px;
    border-right: 4px solid;
    height: 100%;
    text-align: right;
    float: left;
  }
.work p{  
font-size: 12px;
 text-align: left;
 padding: 5px;

}
  .surf{
    margin: 20px 0px 20px 30px; 
    height: 400px;
    width: 80%;
    flex: 1 100%;
    display: block;
  }
  .surf img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: 5px solid;
    color: #4c98c2;
    transition-duration: 0.3s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .surf:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
  .surf a{
    text-decoration: none;
  }
  .surf-content{
    height: 70px;
    width: 160px;
    padding: 4px;
    background-color: #5bc9c3;
    color: #222B2C;
    position: relative;
    top: -100px;
    left: 0px;
  }
  .surf-content h3{
      text-align: left;
      padding: 5px 5px 0 5px;
      font-size: 23px;
  }
 





 .led{
    height: 200px;
    display: inline-block;
    margin: 0px 10px 10px 30px;
    flex: 1 40%;
  }
  
  .led img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: 5px solid;
    color: #4c98c2;
    transition-duration: 0.3s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .led:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
  
  .led-content{
    height: 70px;
    width: 130px;
    padding: 4px;
    background-color: #5bc9c3;
    color: #222B2C;
    position: relative;
    top: -100px;
    left: 0px;
  }
  .led-content h3{
      text-align: left;
      padding: 5px 5px 0 5px;
      font-size: 23px;
  }
  .led a{
    text-decoration: none;
  }
 



.calculator{
    height: 200px;
    display: inline-block;
    margin: 0px 0 10px 10px;
    flex: 1 40%;
  }
  
  .calculator img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: 5px solid;
    color: #4c98c2;
    transition-duration: 0.3s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .calculator:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
   
  .calculator-content{
    height: 70px;
    width: 140px;
    padding: 4px;
    background-color: #5bc9c3;
    color: #222B2C;
    position: relative;
    top: -100px;
    left: 0px;
  }
  .calculator-content h3{
      text-align: left;
      padding: 5px 5px 0 5px;
      font-size: 23px;
  }
  .calculator a{
    text-decoration: none;
  }





.puzzle{
    height: 200px;
    display: inline-block;
    margin: 10px 10px 10px 30px;
    flex: 1 40%;
  }
  .puzzle img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: 5px solid;
    color: #4c98c2;
    transition-duration: 0.3s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .puzzle:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
  
.puzzle-content{
    height: 70px;
    width: 190px;
    padding: 4px;
    background-color: #5bc9c3;
    color: #222B2C;
    position: relative;
    top: -100px;
    left: 0px;
  }
.puzzle-content h3{
    text-align: center;
    padding: 5px 5px 0 5px;
    font-size: 23px;
}

.puzzle a{
    text-decoration: none;
  }




.run{
    height: 200px;
    display: inline-block;
    margin: 10px 0 10px 10px;
    flex: 1 40%;
  }
  .run img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: 5px solid;
    color: #4c98c2;
    transition-duration: 0.3s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
.run:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
 }
.run-content{
    height: 70px;
    width: 150px;
    padding: 4px;
    background-color: #5bc9c3;
    color: #222B2C;
    position: relative;
    top: -100px;
    left: 0px;
  }
.run-content h3{
    text-align: left;
    padding: 5px 5px 0 5px;
    font-size: 23px;
}
.run a{
    text-decoration: none;
  }





.contact{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    padding-bottom: 10px;
    width: 97%;
} 
.contact h2{
    font-size: 55px;
    color: #024e76;
    padding: 0 20px 20px 0px;
    border-right: 4px solid;
    height: 100%;
    text-align: right;
    float: left;
  }
  .contact nav {
    margin: 45px 20px 0 0;
    flex: 2 63%;
  }
  .contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 10%;
  }
  .contact nav ul li{
    margin: 0 90px;
  }
  .contact nav ul li a {
    font-weight: lighter;
    font-size: 25px;
    border-bottom: 3px solid;
    text-decoration: none;
    color: #024e76;
  }