* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ffe6f2
  }
  header {
    padding: 20px 35px;
    background-color: #222B2C;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    top: 0;
  }
  header h1 {
    padding : 5px;
    background-color: #72CFD8;
    font-weight: bold;
    font-size: 36px;
    color: #222B2C;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header nav {
    margin: 7px 0;
  }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header nav ul li a {
    margin: 0 10px;
    font-weight: lighter;
    font-size: 22px;
    border-bottom: 3px solid;
    text-decoration: none;
    color: #72CFD8;
  }
  header nav ul li a:hover {
    box-shadow: 0 0 8px rgba(63, 155, 197, 0.6);
  }
  .hero {
    background-image: url("../assets/pattern.jpg");
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .hero-sub{
    padding: 4px 6px 4px 6px;
    background-color: #72CFD8;
    font-size: 28px;
    color: #222B2C;
    position: absolute;
    top: 140px;
    right: 40px;
  }
  .about{
  margin: 30px auto;
  padding-bottom: 10px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
 .about h2{
    font-size: 55px;
    color: #024e76;
    padding: 0 20px 140px 0px;
    border-right: 4px solid;
    width: 20%;
    height: 100%;
    flex: 1 7%;
    text-align: right;
  }
  .about-info {
    padding: 0px 70px 10px 40px;
    line-height: 1.7;
    color: #3e757e;
    width: 70%;
    font-size: 17px;
    flex: 3 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .work{
    margin: 30px auto;
    padding-bottom: 10px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .work h2 {
    font-size: 55px;
    color: #024e76;
    padding: 0 20px 800px 0px;
    border-right: 4px solid;
    height: 100%;
    flex: 1 10.3%;
    text-align: right;
  }
  .surf{
    height: 400px;
    padding: 0px 70px 10px 40px;
    flex: 3 80%;
    display: flex;
    flex-wrap: wrap;
  }
  .surf img{
    object-fit: cover;
    height: 100%;
    width: 1200px;
    border: 5px solid;
    color: #4c98c2;
    transition-duration: 0.3s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .surf:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
  .content-title1{
    padding: 4px;
    background-color: #5bc9c3;
    color: #222B2C;
    position: absolute;
    top: 910px;
    left: 442px;
  }
  .content-title1 h3{
      text-align: center;
      padding: 5px 5px 0 5px;
      font-size: 23px;
  }
 .content-title1 p{
     font-size: 12px;
     text-align: left;
     padding: 5px;
 }
 .work-content2{
    height: 200px;
    display: inline-block;
    margin: 10px 10px 10px 40px;
  }
  
  .work-content2 img{
    object-fit: cover;
    height: 100%;
    width: 589px;
    border: 5px solid;
    color: #4c98c2;
    transition-duration: 0.3s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .work-content2:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
  
  .content-title2{
    padding: 4px;
    background-color: #5bc9c3;
    color: #222B2C;
    position: absolute;
    top: 1130px;
    left: 442px;
  }
  .content-title2 h3{
      text-align: center;
      padding: 5px 5px 0 5px;
      font-size: 23px;
  }
  .content-title2 p{
    font-size: 12px;
    text-align: left;
    padding: 5px;
}
.work-content3{
    height: 200px;
    display: inline-block;
    margin: 10px 0 10px 10px;
  }
  
  .work-content3 img{
    object-fit: cover;
    height: 100%;
    width: 588px;
    border: 5px solid;
    color: #4c98c2;
    transition-duration: 0.3s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .work-content3:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
   
  .content-title3{
    padding: 4px;
    background-color: #5bc9c3;
    color: #222B2C;
    position: absolute;
    top: 1130px;
    left: 1058px;
  }
  .content-title3 h3{
      text-align: center;
      padding: 5px 5px 0 5px;
      font-size: 23px;
  }
  .content-title3 p{
    font-size: 12px;
    text-align: left;
    padding: 5px;
}
.content-title4{
    padding: 4px;
    background-color: #5bc9c3;
    color: #222B2C;
    position: absolute;
    top: 1350px;
    left: 442px;
  }
.content-title4 h3{
    text-align: center;
    padding: 5px 5px 0 5px;
    font-size: 23px;
}
.content-title4 p{
  font-size: 12px;
  text-align: left;
  padding: 5px;
}
  .content-title5{
    padding: 4px;
    background-color: #5bc9c3;
    color: #222B2C;
    position: absolute;
    top: 1350px;
    left: 1058px;
  }
  .content-title5 h3{
    text-align: center;
    padding: 5px 5px 0 5px;
    font-size: 23px;
}
.content-title5 p{
  font-size: 12px;
  text-align: left;
  padding: 5px;
}
.contact{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
  padding-bottom: 10px;
} 
.contact h2{
    font-size: 55px;
    color: #024e76;
    padding: 0 20px 20px 0px;
    border-right: 4px solid;
    height: 100%;
    flex: 1 7%;
    text-align: right;
  }
  .contact nav {
    margin: 45px 20px 0 0;
    flex: 2 63%;
  }
  .contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .contact nav ul li{
    padding: 0px 70px;
  }
  .contact nav ul li a {
    font-weight: lighter;
    font-size: 25px;
    border-bottom: 3px solid;
    text-decoration: none;
    color: #024e76;
  }